{{outlet}}

<div class="profile-tabs-wrap">
	<div class="profile-tabs">
		<ul>
			{{#link-to 'colleges.profile' tagName="li"}}Statistics{{/link-to}}
			{{#link-to 'colleges.restaurants' tagName="li"}}Food &amp; Drink{{/link-to}}
			{{#link-to 'colleges.hotels' tagName="li"}}Hotels{{/link-to}}
			{{#link-to 'colleges.sports' tagName="li"}}Sports{{/link-to}}
			{{#link-to 'colleges.breaks' tagName="li"}}Break Info{{/link-to}}
			{{#link-to 'colleges.gallery' tagName="li"}}Gallery{{/link-to}}

		</ul>	
	</div>
</div>

