{{outlet}}



<div class="profile-tabs-wrap">
	<div class="profile-tabs">
		<ul>
			<li>Statistics</li>
			<li>Food &amp; Drink</li>
			<li>Hotels</li>
			<li>Sports</li>
			<li>Break Info</li>
		</ul>	
	</div>
</div>

<div class="profile-container">

	<div class="profile-feed">
      <div class="feed-post">
          <ul>
            <li class="single-post">

              <div class="feed-info-container">
                <li class="feed-name">Clemson University<span class="feed-time">2 hours ago</span></li>
                <li class="feed-status">Lorem and some more dummy text</li>

              </div>

            </li>

          </ul>
      </div>
	</div>

</div>

