{{outlet}}

<div class="homepage-banner">
	<div class="banner">
		<div class="login-container">

			<div><img src="assets/images/logo_white_text.svg" class="shadow homepage-logo"></div>
			<form class="login-form">
		       {{input value=identification placeholder='Enter Email' type='email' class='login-input'}}
		       {{input value=password placeholder='Enter Password' type='password' class='login-input'}}

<!-- 		      <div class="new-user-link">Register</div>
 -->
		      <div class="login-submit">
		        <button type="submit">Login</button>
		      </div>

		    </form>
		</div>
	</div>
</div>

<div class="map-container">
</div>