{{outlet}}

<div class="header-buttons">

	{{#if currentUser}}

	<div {{action 'logout'}} class="header-button">
			<p>Logout</p>
	</div>

	{{else}}

	{{#link-to 'register'}}
	<div class="header-button header-highlighted">
		<p>Register</p>
	</div>
	{{/link-to}}

	{{#link-to 'login'}}
	<div class="header-button">
		<p>Log in</p>
	</div>
	{{/link-to}}

	{{/if}}


</div>

<div class="homepage-banner">
	<div class="banner">
		<div class="login-container">
			{{#link-to 'index'}}
				<div><img src="assets/images/logo_white_text.svg" class="shadow homepage-logo"></div>
			{{/link-to}}
				{{input placeholder='Enter College or University' type='text' class='search-input' action="searchDropdown"}}
				<div class="college-search"></div>
		</div>
	</div>
</div>

<div class="map-container">
</div>
