{{outlet}}

<div class="header-buttons">

	{{#link-to 'register'}}
	<div class="header-button header-highlighted">
		<p>Register</p>
	</div>
	{{/link-to}}

	{{#link-to 'login'}}
	<div class="header-button">
		<p>Log in</p>
	</div>
	{{/link-to}}

</div>

<div class="homepage-banner">
	<div class="banner">
		<div class="login-container">

			{{#link-to 'index'}}
				<div><img src="assets/images/logo_white_text.svg" class="shadow homepage-logo"></div>
			{{/link-to}}

			<form class="login-form">
		       {{input value=email placeholder='Enter Email' type='email' class='login-input'}}
		       {{input value=password placeholder='Enter Password' type='password' class='login-input'}}



		      <div class="login-submit">
		        <button {{action "login"}}>Login</button>
		      </div>

		    {{#link-to 'register'}}
 		      <div class="register-button">
		        <p>New User? Sign up here</p>
		      </div>
		    {{/link-to}}

		    </form>

		</div>
	</div>
</div>
